fastapi~=0.116.1
uvicorn~=0.35.0
motor~=3.7.1
python-dotenv~=1.1.1
passlib[bcrypt]~=1.7.4
python-multipart
jinja2
itsdangerous~=2.2.0
google-api-python-client~=2.179.0
google-auth-oauthlib~=1.2.2
google-auth-httplib2
scikit-learn~=1.7.1
pip~=23.2.1
attrs~=25.3.0
protobuf~=6.32.0
cryptography~=45.0.7
filelock~=3.18.0
pydantic~=2.11.7
pymongo~=4.14.1
